.section {
  background-color: transparent;
  padding: 13px;
  width: calc((100vw) / 2);
  @media screen and (min-width: 400px) {
    width: calc((400px) / 2);
  }
}
.container {
  position: relative;
  padding-left: 7px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 18px;
  border-radius: 5px;
  height: 239px;
}
.name {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: normal;
  font-size: 15px;
  height: 43px;
}
.mainInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}
.pfp {
  flex-grow: 1; /* Растягиваем картинку, чтобы заполнить доступное пространство */
  max-height: 100%; /* Устанавливаем максимальную ширину картинки */
  margin-right: 14px;
}
.birthdate {
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  text-transform: lowercase;
  margin-bottom: 4px;
}
