.container {
  background-color: var(--background-color);
  padding: 20px;
  width: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  list-style: none;
  width: 100%;
}
.listItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:not(:last-child) {
    margin-bottom: 28px;
  }
}
.icon {
  min-width: 26px;
  min-height: 26px;
  max-width: 26px;
  max-height: 26px;
  margin-right: 3px;
  fill: var(--accent-color);
}
.value {
  font-size: 20px;
  font-weight: 400;
  min-width: 47px;
  text-align: left;
  margin-right: 3px;
}
.description {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}
