.wrapper {
  position: absolute;
  padding: 15px;
  top: -8px;
  right: -8px;
  box-sizing: content-box;
  width: 5px;
  height: 26px;
  cursor: pointer;
}
.threePointsIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  fill: white;
  width: 5px;
  height: 26px;
}
