.container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: calc(23px + 2rem);
}
.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.city {
  display: block;
  height: min-content;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  margin-top: 6px;
  margin-left: 2rem;
}
