.container {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 26px;
  padding-right: 26px;

  position: relative;

  background-color: var(--background-color);
}
.checkBoxes {
  margin-right: 20px;

  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  flex-grow: 1 !important;
  overflow: scroll;
  scrollbar-color: transparent;
  & > * {
    width: fit-content;
  }
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
.iconContainer {
  width: 52px;
  position: absolute;
  right: 13px;
  top: 13px;

  background: linear-gradient(
    270deg,
    #ffffff 0%,
    #ffffff 85.42%,
    rgba(255, 255, 255, 0) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 26px;
  width: 26px;
  fill: var(--accent-color);
}
