.container {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 13px;
  padding-right: 13px;

  background-color: var(--background-color);
}
.companyContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 250px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 38px;
}
.logo {
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: var(--bottom-shadow);
}
.name {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  display: block;
  color: #060606;
  text-shadow: var(--bottom-shadow);
}
.title {
  font-family: Roboto Slab;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  color: var(--accent-color);
  display: block;
}
.feedbackContainer,
.donutContainer {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.donutInfo,
.feedbackInfo,
.feedbackFullInfo {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #060606;

  margin-bottom: 10px;
}
.feedbackButton,
.donutButton {
  width: 152px;
  height: 51px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
}
.feedbackButton {
  background-color: var(--accent-color);
  margin-bottom: 25px;
}
.donutButton {
  background-color: #278926;
}
.feedbackButtonName,
.donutButtonName {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  text-transform: uppercase;
  color: var(--background-color);
}
