.container {
  position: absolute;
  padding-left: 26px;
  padding-right: 26px;
  width: 100%;
}
.inputList {
  display: flex;
  justify-content: space-between;
  padding-left: calc((100% - 26px - 52px * 4) / 7);
  padding-right: calc((100% - 26px - 52px * 4) / 7);
  margin-bottom: 26px;
}
.buttonList {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
