.container {
  position: absolute;
  top: 0px;
  background-color: var(--background-color);
  padding-top: 26px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 26px;
  width: 100%;
}
.inputList {
  display: flex;
  justify-content: space-between;
  padding-left: calc((100% - 26px - 52px * 4) / 7);
  padding-right: calc((100% - 26px - 52px * 4) / 7);
  margin-bottom: 26px;
}
.buttonList {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonList > *:first-child {
  margin-right: 15px;
}
.buttonList > *:last-child {
  margin-right: 0;
}
.buttonList > * {
  padding: 7px !important;
  width: 131px;
  height: 51px;
}
