.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 26px;
  height: 26px;
  fill: white;
  margin-right: 2px;
  border-radius: 50%;
  box-shadow: var(--bottom-shadow);
}
