.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.section {
  height: 100%;
  padding-top: 52px;
}
.circleInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 13px;
}
.addIcon {
  fill: var(--background-color);
  width: 40px;
  height: 40px;
  transform: translateY(-20px);
}
.starIcon {
  fill: var(--background-color);
  width: 42px;
  height: 40px;
  transform: translateY(-20px);
}
.animalLogoContainer {
  border-top: 1px solid var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
.modal {
  width: 100%;
  padding: 20px;
  & > *:not(:last-child) {
    margin-bottom: 28px;
  }
  background-color: var(--background-color);
}
