.wrapper {
  min-height: 100%;
}
.section {
  height: 100%;
}
.circleInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 13px;
}
.addIcon {
  fill: var(--background-color);
  width: 40px;
  height: 40px;
  transform: translateY(-20px);
}
.starIcon {
  fill: var(--background-color);
  width: 42px;
  height: 40px;
  transform: translateY(-20px);
}
.animalLogoContainer {
  border-top: 1px solid var(--background-color);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
