.container {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Задает три колонки равной ширины */
  gap: 2px; /* Задает промежуток между элементами */
}
