.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.circleContainer {
  width: 60%;
}
.circle {
  width: 100%;
}
.lines {
  width: 40%;
}
.lineContainer {
  height: 39px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: var(--bottom-shadow);

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.lineText {
  font-weight: 500;
  font-size: 11px;
  text-align: left;
  line-height: 1.32em;
  display: block;
}
