.container {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.circle {
  width: 222px;
  height: 201px;
}
.linesContainer {
  top: 17%;
  left: 22.3%;
  /* padding-top: 60px;
  padding-bottom: 30px; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 56%;
  height: 64%;
  overflow: hidden;
  border-radius: 50%;
  z-index: 3;
}
.line {
  background-color: var(--purple-color);
  font-size: 13px;
  width: 100%;
}
