.container {
  background-color: var(--background-color);
  padding-top: 16px;
  padding-bottom: 23px;
  padding-left: 23px;
  padding-right: 23px;
}
.listContainer {
}
.list {
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  overflow: scroll;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 14px;
}
.collisionsList {
  margin-bottom: 19px;
}
