.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;

  padding-left: 25px;
  padding-right: 25px;

  background-color: #5767a0;

  & > a {
    display: contents;
  }
}
.topHeading {
  margin-bottom: 6px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backIcon,
.logoIcon {
  fill: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: visible;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.backIcon {
  border-radius: 5px;
}
.centerIcon {
  width: 43px;
  height: 43px;
  fill: white;
}
.modalContainer {
  position: absolute;
  top: 52px;
  left: 0;
  border-radius: 0 !important;
  width: 100%;
}
.infoContainer {
  padding: 32px;
  background-color: var(--background-color);
}
.modalText {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  display: block;
}
.modalButton {
  margin-right: auto !important;
  margin-left: auto !important;
}
.searchModalIcon {
  fill: white;
  width: 26px;
  height: 26px;
  transform: translate(-2px, -2px);
}
.companyContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}
.logo {
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: var(--bottom-shadow);
}
.nameContainer {
  text-align: center;
}
.name {
  font-size: 10.9px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  display: block;
  width: 100%;
  color: #060606;
  color: var(--background-color);
  text-shadow: var(--bottom-shadow);
}
.title {
  font-family: Roboto Slab;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--background-color);
  display: block;
  width: 100%;
}
.optionsContainer {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 46px;
  padding-right: 46px;
  background-color: white;
}
.optionsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 27px;
  }
}
.optionsText {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.logOutIcon,
.deleteIcon {
  width: 26px;
  height: 26px;
  fill: var(--accent-color);
  margin-right: 15px;
}
.warningContainer {
  background-color: white;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
}
.warningText {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;

  margin-bottom: 15px;

  color: var(--main-text-color);
}

.warningButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  & > *:not(:last-child) {
    margin-right: 13px;
  }
  & > *:last-child {
    margin-right: 0;
  }
}
