.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 52px;

  padding-left: 25px;
  padding-right: 25px;

  background-color: #5767a0;

  & > a {
    display: contents;
  }
}
.heading {
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.backIcon,
.burgerIcon {
  fill: white;
  width: 26px;
  height: 26px;
}
.centerIcon {
  width: 43px;
  height: 43px;
  fill: white;
}
.modalContainer {
  padding-top: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-left: 26px;
}
.searchModalIcon {
  fill: white;
  width: 26px;
  height: 26px;
  transform: translate(-2px, -2px);
}
