.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;

  padding-left: 25px;
  padding-right: 25px;

  background-color: #5767a0;

  & > a {
    display: contents;
  }
}
.topHeading {
  margin-bottom: 6px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.backIcon,
.logoIcon {
  fill: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: visible;
}
.centerIcon {
  width: 43px;
  height: 43px;
  fill: white;
}
.modalContainer {
  position: absolute;
  top: 52px;
  left: 0;
  border-radius: 0 !important;
  width: 100%;
}
.infoContainer {
  padding: 32px;
  background-color: var(--background-color);
}
.modalText {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 24px;
  display: block;
}
.modalButton {
  margin-right: auto !important;
  margin-left: auto !important;
}
.searchModalIcon {
  fill: white;
  width: 26px;
  height: 26px;
  transform: translate(-2px, -2px);
}
