.container {
  background-color: aqua;
  color: var(--dark-blue-color);
  position: relative;
}
.white {
  background-color: white;
}
.yellow {
  background-color: var(--yellow-color);
}
.lightGreen {
  background-color: var(--light-green-color);
}
.darkGreen {
  background-color: var(--dark-green-color);
  color: white;
}
.red {
  background-color: var(--red-color);
  color: white;
}
.black {
  background-color: black;
  color: white;
}
.purple {
  background-color: var(--purple-color);
  color: white;
}
.year {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.month {
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
