.container {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  padding-right: 11px;

  background-color: var(--background-color);

  height: 52px;
  display: flex;
  align-items: flex-start;
}
.arrow {
  height: 1em;
  width: auto;
  margin-top: 4px;
  cursor: pointer;
  fill: var(--accent-color);
  &:first-child {
    margin-right: 3px;
  }
  &:last-child {
    margin-left: 3px;
  }
}
.daysContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}
.dayItem {
  color: var(--hidden-text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.currentDayItem {
  cursor: auto;
  color: var(--main-text-color);
}
.date {
  font-size: 20px;
  line-height: normal;
}
.dayOfWeek {
  font-size: 13px;
  line-height: normal;
}
