.container {
  padding: 26px;
}
.heading {
  margin-bottom: 30px;
}
.icon {
  width: 50px;
  height: 50px;
  fill: var(--accent-color);
  cursor: pointer;
}
.formFieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 26px;
}
.label {
  margin-right: 9px;
  text-transform: uppercase;
  font-family: Roboto Slab;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  min-width: calc((100vw - 26px * 2) / 4);
  max-width: calc((100vw - 26px * 2) / 4);

  color: #02081e;
}
