.showed,
.hidden {
  background-color: var(--accent-color);
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10000;
}
.showed {
  transition: opacity 1000ms ease;
}
.hidden {
  opacity: 0;
  pointer-events: none;
  transition: none;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.icon {
  width: 70%;
  border-radius: 50%;
  border-width: 0px;
  animation: rotate 10s linear infinite;
  fill: var(--accent-color);
  background-color: white;
}
