.showed,
.hidden {
  background-color: var(--accent-color);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: opacity 1000ms ease;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -200%);
  fill: var(--accent-color);
  background-color: white;
  overflow: hidden;
  animation: rotate 5s linear infinite; /* Здесь 5s - время одного оборота, infinite - бесконечное воспроизведение */
}
