.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formFieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
  margin-bottom: 35px;
}
.label {
  margin-right: 9px;
  text-transform: uppercase;
  font-family: Roboto Slab;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  min-width: 104px;
  max-width: 104px;

  @media screen and (max-width: 360px) {
    min-width: 90px;
    max-width: 90px;
  }

  color: #02081e;
}
.simpleInput,
.dateInput,
.hourInputBox {
  box-sizing: border-box;
  border-radius: 5px;
  min-height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hourInputBox {
  width: 195px;
  text-align: left;
  & > *:not(:last-child) {
    margin-right: 5px;
  }
  & > :last-child {
    margin-right: auto;
  }
}
.simpleInput {
  min-width: 195px;
  padding-left: 10.68px;
}
.simpleInput::placeholder {
  color: #8894bf;
}
.dateInputBox,
.hourInputBox {
  min-width: 195px;
}
.dateInputBox {
  display: flex;
  align-items: center;
  height: 26px;
}
.dateInputBox > *:not(:last-child) {
  margin-right: 5px;
}
.dateInput {
  min-width: calc((100% - 5px * 2) / 3);
}
.dateInput:not(:last-child) {
  margin-right: 5px;
}
.genderInputBox {
  min-width: 195px;
  height: 26px;
}
.genderInputBox > * {
  justify-content: flex-start !important;
}
.genderInputBox > * > *:not(:last-child) {
  margin-right: 5px;
}
