.container {
  background-color: var(--main-background-color);
  padding: 13px;
}
.pillarsContainer {
  background-color: var(--main-background-color);
  /* padding-left: 11px;
  padding-right: 11px; */
}
.pillarsInnerContainer {
  display: flex;
  overflow: scroll;
}
