.formFieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 26px;
}
.label {
  margin-right: 9px;
  text-transform: uppercase;
  font-family: Roboto Slab;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  min-width: 104px;
  max-width: 104px;
  @media screen and (max-width: 360px) {
    min-width: 90px;
    max-width: 90px;
  }

  color: #02081e;
}
