.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  & > *:nth-child(1) {
    /* transform: scale(0.7) translateX(-30%); */
  }
}
.blackContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > .image {
    width: 30px;
  }
  & > *:nth-child(1) {
    margin-right: 10px;
  }
}
.image {
  width: 36px;
  border-radius: 5px;
}
.text {
  margin-left: 10px;
  text-align: left;
}
