.container {
  background-color: var(--background-color);
  padding: 20px;
}
.starsList {
  width: 171px;
  height: 171px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Задает три колонки равной ширины */
  gap: 10px; /* Задает промежуток между элементами */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 22px;
}
.star {
  background-color: aqua;
  position: relative;
  font-family: "Lilita One", cursive;
  border-radius: 5px;
}
.white {
  background-color: white;
  border: 1px solid black;
  & .year {
    -webkit-text-stroke: 1px #1e1e1e; /* width and color */
  }
}
.yellow {
  background-color: var(--yellow-color);
}
.lightGreen {
  background-color: var(--light-green-color);
}
.darkGreen {
  background-color: var(--dark-green-color);
  color: white;
}
.red {
  background-color: var(--red-color);
  color: white;
}
.black {
  background-color: black;
  color: white;
  & .month {
    color: white;
  }
}
.purple {
  background-color: var(--purple-color);
  color: white;
}
.year {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
}
.month {
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
}
.clickText {
  margin-bottom: 26px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 90%;
}
.selectedStarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedStarContainer .star {
  width: 58px;
  height: 58px;
}
.starDescription {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
