.container {
  background-color: var(--background-color);
  padding: 20px;
  padding-bottom: 30px;
}
.starsContainer {
  position: relative;
  width: 171px;
  height: 171px;
  aspect-ratio: 1 / 1;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 43px;
}
.starDirection {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}
.starsList {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Задает три колонки равной ширины */
  gap: 10px; /* Задает промежуток между элементами */
}
.star {
  background-color: aqua;
  position: relative;
  font-family: "Lilita One", cursive;
  border-radius: 5px;
}
.white {
  background-color: white;
  border: 1px solid gray;
  & .year {
    -webkit-text-stroke: 1px #1e1e1e; /* width and color */
  }
}
.yellow {
  background-color: var(--yellow-color);
}
.lightGreen {
  background-color: var(--light-green-color);
}
.darkGreen {
  background-color: var(--dark-green-color);
  color: white;
}
.red {
  background-color: var(--red-color);
  color: white;
}
.black {
  background-color: black;
  color: white;
  & .month {
    color: white;
  }
}
.purple {
  background-color: var(--purple-color);
  color: white;
}
.year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: white;
}
.month {
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
}
.clickText {
  margin-bottom: 26px;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: auto;
  display: block;
  max-width: 90%;
}
.selectedStarContainer {
}
.selectedStarMainInfoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 23px;
}
.selectedStarContainer .star {
  width: 58px;
  height: 58px;
  margin-right: 11px;
}
.starDescription {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.selectedStarOtherInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.selectedStarGoodsContainer,
.selectedStarBadsContainer {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  width: calc((100% - 5px) / 2);
}
.selectedStarGoodsContainer {
  margin-right: 12px;
}
.selectedStarGoodsHeading,
.selectedStarBadsHeading {
  font-weight: 700;
}
