@import-normalize; /* bring in normalize.css styles */
:root {
  --background-color: #ffffff;
  --main-text-color: #02081e;
  --accent-color: #5767a0;
  --inactive-color: #cecece;
  --light-accent-color: #a7b1d4;
  --mini-accent-color: #cecece;
  --hidden-text-color: #8894bf;

  --top-shadow: 0 4px 4px 0 inset rgba(0, 0, 0, 0.25);
  --bottom-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  --light-green-color: #a6bf3f;
  --brown-color: #7c5037;
  --dark-green-color: #278926;
  --purple-color: #88385b;
  --orange-color: #ff7510;
  --light-blue-color: #94b7d5;
  --dark-blue-color: #314b70;
  --yellow-color: #ead522;
  --red-color: #d12a21;
  --pink-color: #d094af;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
}

body {
  padding-top: 52px;
  padding-bottom: 54px;
  margin: 0;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brownBackground {
}
