@import-normalize; /* bring in normalize.css styles */
:root {
  --background-color: #ffffff;
  --main-text-color: #02081e;
  --accent-color: #5767a0;
  --inactive-color: #cecece;
  --light-accent-color: #a7b1d4;
  --mini-accent-color: #cecece;
  --hidden-text-color: #8894bf;
  --404-background-color: #bcc2da;
  --border-color: #d9d9d9;

  --top-shadow: 0 4px 4px 0 inset rgba(0, 0, 0, 0.25);
  --bottom-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  /* цвета для значков */
  --main-purple: #88385b;
  --main-dark-blue: #314b70;
  --main-dark-green: #278926;
  --main-red: #d12a21;
  --main-brown: #7c5037;
  --main-pink: #f475a2;
  --main-light-blue: #94b7d5;
  --main-light-green: #a6bf3f;
  --main-orange: #ff7510;
  --main-yellow: #e9d621;

  /* цвета для фона дней и карт */
  --background-purple: #cc8ca8;
  --background-dark-blue: #8ea2be;
  --background-dark-green: #75c574;
  --background-red: #ee7872;
  --background-brown: #ba917a;
  --background-pink: #ffbad2;
  --background-light-blue: #d0d6ec;
  --background-light-green: #c5da6f;
  --background-orange: #ffad72;
  --background-yellow: #f5eb89;

  --light-green-color: #a6bf3f;
  --brown-color: #7c5037;
  --dark-green-color: #278926;
  --purple-color: #88385b;
  --orange-color: #ff7510;
  --light-blue-color: #94b7d5;
  --dark-blue-color: #314b70;
  --yellow-color: #ead522;
  --red-color: #d12a21;
  --pink-color: #d094af;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.MuiAutocomplete-inputRoot {
  flex-wrap: no wrap !important;
}
::-webkit-scrollbar {
  display: none;
  @media screen and (max-width: 500px) {
    display: none;
  }
}
