.mainContainer {
  background-color: var(--accent-color);
}
.cardsInfoContainer {
  background-color: var(--accent-color);
  box-shadow: var(--top-shadow);
}
.topContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  padding-right: 13px;
}
.viewSettings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: calc(100% + 18px);
  min-width: max-content;
  width: 40%;
}
.listIcon,
.gridIcon {
  fill: var(--background-color);
  width: 36px;
  max-width: calc(50% - 5px);
}
.searchContainer {
  display: none;
}
.sortingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
}
.sortingIcon {
  fill: var(--background-color);
  min-width: 36px;
  max-width: 36px;
  margin-right: 2px;
}
.sortingName {
  color: var(--background-color);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.cardsGrid {
  border-top: 1px solid var(--background-color);
  border-bottom: 1px solid var(--background-color);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Задает две колонки равной ширины */
}
