.mainContainer {
  background-color: var(--accent-color);
  padding-top: calc(55px);
}
.heading {
  position: fixed;
  width: 100%;
  top: 52px;
  max-width: 400px;
  z-index: 100;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: var(--bottom-shadow);
}
.cardsInfoContainer {
  background-color: var(--accent-color);
}
.topContainer {
  border-bottom: 1px solid var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  padding-right: 13px;
}
.viewSettings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: calc(100% + 18px);
  min-width: max-content;
  width: 40%;
}
.listIcon,
.gridIcon {
  fill: var(--background-color);
  width: 36px;
  max-width: calc(50% - 5px);
}
.searchContainer {
  display: none;
}
.sortingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
}
.sortingIcon {
  fill: var(--background-color);
  min-width: 36px;
  max-width: 36px;
  margin-right: 2px;
}
.sortingName {
  color: var(--background-color);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Задает две колонки равной ширины */
}
.noCardContainer {
  padding-top: 14px;
  width: 100%;
  border-top: 1px solid var(--background-color);
}
.noCardMessage {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  color: var(--background-color);
}
.scrollTopIcon {
  width: 44px;
  height: 44px;
  fill: var(--accent-color);
  transition: opacity 250ms ease-in;
  opacity: 0;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 10000;
}
